/* CSS Document */
.title
{
	max-width:650px; margin-left:100px; font-size:9pt; border-right:#CCC 1px solid; border-left:#CCC 1px solid; padding: 20px;
}
.button_div
{
	max-width:630px; margin-left:140px; font-size:9pt; 
}

.reg_button
{
	background-image:url(../sitePIC/button_orange.png); background-repeat:no-repeat; width:124px; height:41px; text-align:center;
}
.reg_button a
{
	color:#FFF; position:relative; top:10px; font-size:11pt; text-decoration:none;
}

.argee
{
	float:right; margin:0; list-style:none; position:relative; top:-13px; right:30px;
}
.argee_li_yes
{
	float:left; font-weight:bolder; text-align:center; background-image:url(../sitePIC/button_orange.png); background-repeat:no-repeat; height:41px; width:124px; margin-left:30px; margin-right:30px;
}
.argee_li_no
{
	float:left; font-weight:bolder; text-align:center; background-image:url(../sitePIC/button_bule.png); background-repeat:no-repeat; height:41px; width:143px; margin-left:30px; margin-right:30px;
}
.argee_a
{
	color:#FFF; font-size:11pt; text-decoration:none; display:block; padding:3px;
}

.intro_title
{
	background-image:url(../sitePIC/button_white_b.png); background-position:center; background-repeat:no-repeat; width:141px; height:41px; padding:1px; font-size:11pt; text-align:center;
}

.intro_title p
{
	color:#777; font-weight:bolder;
}
.intro_title:hover
{
	
}

.intro_text
{
	line-height: 15pt; font-size:8pt;
}

a:hover
{
	color:#00F;
}

.feedback
{
	max-width:650px; margin-left:100px; font-size:8pt; padding: 20px; margin-top: 60px;
}